export(desig_city_codes)
export(extract_prefectures)
export(is_valid_jlocalitycode)
export(lookup_codes)
export(lookup_details)
export(lookup_names)
export(prefecture_codes)
export(subunit_codes)
export(subunit_codes_only)
importFrom(SPARQL,SPARQL)
importFrom(plyr,rbind.fill)
